#编译中间文件
*.o
*.d
*.crf
*.dep
*.i
*.ii
#固件输出文件
*.axf
*.elf
*.hex
*.bin
*.lib
*.a
#列表与输出文件
*.lst
*.map
*.htm
*.sct
*.scf
*.m51
*.h51
#keil个人配置与临时文件
*.uvguix.*
*.uvgui
*.uvoptx
*.uvopt
*.Tralog
*.bulid_log.htm
*.dep_log
*.log
#调试器相关文件
*.jlink
*.JLinkSettings
*.stlink
*.dbgconf
*.ini
*.dni
#通用临时/系统文件
*.tmp
*.bak
*.swp
*.~*
*.DS_Store
Thumbs.db
desktop.ini
#嵌套GIT目录
/git/
Objects/
Listings/
.vscode/